<thf-modal t-title="Disciplinas" [t-primary-action]="confirmDisciplineModal" [t-secondary-action]="cancelDisciplineModal">
  <thf-list-view *ngIf="disciplinePage && disciplinePage.items && disciplinePage.items.length > 0" (t-show-more)="loadMoreDisciplines()"
    [t-show-more-disabled]="!disciplinePage || !disciplinePage?.hasNext" t-height="300" t-hide-select-all t-property-title="name"
    t-select [t-items]="disciplinePage?.items">
    <ng-template t-list-view-content-template let-item>
      <div class="thf-row">
        <thf-info class="thf-lg-4" t-label="Código" [t-value]="item.id"></thf-info>

        <thf-info class="thf-lg-4" t-label="Sigla" [t-value]="item.initials"></thf-info>

        <thf-info class="thf-lg-4" t-label="Descrição" [t-value]="item.description"></thf-info>

        <thf-info class="thf-lg-4" t-label="Carga horária" [t-value]="item.workload"></thf-info>

        <thf-info class="thf-lg-4" t-label="Professor" [t-value]="item.teacher?.name"></thf-info>
      </div>
    </ng-template>
  </thf-list-view>
</thf-modal>
