.student-table-actions {
  margin-bottom: 8px;
}

.student-table-actions .btn-add-new-student {
  margin-right: 8px;
}

.disciplines {
  margin-top: 8px;
}

.disciplines thf-button{
  margin-bottom: 8px;
}

.btn-page-actions{
  margin-right: 8px;
}

.students-table{
  margin-top: 8px;
}
