<thf-page-edit t-title="Turma">
  <div class="thf-md-12">


  </div>

  <div class="thf-md-12">
    <thf-divider t-label="Informações da turma">
    </thf-divider>
    <form [formGroup]="schoolClassForm">
      <thf-input class="thf-md-12" formControlName="description" t-clean t-label="Descrição" t-required>
      </thf-input>
      <thf-number class="thf-md-2" formControlName="year" t-clean t-label="Ano Letivo" t-required>
      </thf-number>
      <thf-number class="thf-md-2" formControlName="period" t-clean t-label="Período Letivo" t-required>
      </thf-number>
      <thf-number class="thf-md-2" formControlName="vacancies" t-clean t-label="Vagas" t-required>
      </thf-number>
      <thf-number class="thf-md-2" t-disabled="true" formControlName="remainingVacancies" t-clean t-label="Vagas restantes" t-required>
      </thf-number>
    </form>
  </div>
  <div class="thf-md-12" id="disciplines">
    <thf-divider t-label="Disciplinas da turma">
    </thf-divider>
    <thf-button class="btn-page-actions" t-type="primary" t-label="Adicionar Disciplina" (t-click)="openToAddDiscipline()"></thf-button>
    <thf-button class="btn-page-actions" t-type="default" t-label="Criar nova Disciplina" (t-click)="createDiscipline()"></thf-button>
    <div class="disciplines">
      <thf-disclaimer-group [t-disclaimers]="schoolClassForm.controls['disciplines']?.value"></thf-disclaimer-group>
    </div>
  </div>
  <div class="thf-md-12" id="students">
    <thf-divider t-label="Alunos da turma">
    </thf-divider>
    <thf-button class="btn-page-actions" t-type="primary" t-label="Adicionar Aluno" (t-click)="openToAddStudent()"></thf-button>
    <thf-button class="btn-page-actions" t-type="default" t-label="Criar novo Aluno" (t-click)="createStudent()"></thf-button>
    <div class="students-table">
      <thf-table t-hide-select-all="true" t-hide-text-overflow t-sort="true" t-striped="true" [t-columns]="tableColumns"
        [t-actions]="tableActions" [t-items]="schoolClassForm.controls['students'].value">
      </thf-table>
    </div>
  </div>
</thf-page-edit>
<app-student-not-in-school-class (studentsSelected)="addStudentsSelected($event)"></app-student-not-in-school-class>
<app-discipline-not-in-school-class (disciplinesSelected)="addDisciplinesSelected($event)"></app-discipline-not-in-school-class>
<app-student-edit (studentCreated)="addCreatedStudent($event)"></app-student-edit>
<app-discipline-edit (disciplineCreated)="addCreatedDiscipline($event)"></app-discipline-edit>
